*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
nav{
    padding: 45px;
    margin-bottom: 4px;
}
.Logo{
    position: absolute;
    top: 2%;
}
ul{
    list-style-type: none;
}
li{
    float: left;
    margin-left: 150px;
}
li a{
    left: 80%;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    position: relative;
    margin-left: 1px;
}
.background{
    filter: brightness(50%);
}
/*.background img{
    height: ;
    width:;
}*/
.overlay-text{
    padding: 10px 10px;
    color: #fff;
    width: 90%;
    position: absolute;
    top: 20%;
    font-size: 90px;
}
#text-right{
    position: absolute;
    top: 25%;
    left: 1000px;
    font-size: 30px;
}
button{
    font-weight: 900px;
    position: relative;
    float: right;
    right: 20%;
    top: 0%;
    padding: 20px 20px;
    border-radius: 7px;
    background-color: burlywood;
}
.content{
    background-color: burlywood;
    position: absolute;
    top: 100%;
    width: 99.5%;
    height: 110vh;
    color: aliceblue;
    font-size: 25px;
    text-align: center;
}
.content h2{
    padding-bottom: 20px;
    font-weight: 900px;
    font-size: 90px;
    justify-content: center;
    text-align: center;
}
.container-events img{
    padding: 20px 20px;
}
.visit-page{
    width: 99.5%;
    background: rgb(250, 213, 166);
    position: relative;
    top: 570px;
}
iframe{
    margin-left: 500px;
    border-radius: 10px;
}



/*FOOTER*/
footer{
    width: 100%;
    padding: 70px 30px 30px 30px ;
    
}
